@page "/advanced-authorization"

<div>
    <NavLink href="admin-panel">
        Admin Panel
    </NavLink>
</div>
<div>
    <NavLink href="alcohol-store">
        Alcohol Store
    </NavLink>
</div>
<div>
    <NavLink href="toy-store">
        Toy Store
    </NavLink>
</div>