@page "/"

<h1>Welcome to Blazor School!</h1>

This example will demonstrate how to do authentication and authorization in Blazor Server.
<br />
If you are looking for more Blazor Server tutorials, please go to <a href="https://blazorschool.com" target="_blank">Blazor School</a>.