@page "/toy-store"
@using AuthenticationAndAuthorization.Data

@foreach (var toy in Context.Toys)
{
    <h1>@toy.Name</h1>
    <AuthorizeView Policy="OverAge" Resource="toy.AgeRequired">
        <Authorized>
            <button>Buy this toy</button>
        </Authorized>
        <NotAuthorized>
            Restricted
        </NotAuthorized>
    </AuthorizeView>
}

@code
{
    [Inject]
    private SimulatedDataProviderService SimulatedDataProviderService { get; set; }

    [Inject]
    private AuthenticationAndAuthorizationContext Context { get; set; }
}